<ion-view view-title="Home">
    <ion-content class="padding">
    	<div id="home" class="text-center">
			<h1 class="">Welcome To The Game SymComb</h1>
			<br>
			<br>
			<div class="row">
				<div class="col-33"><img ng-src="/img/spades.svg" alt="spades"></div>
				<div class="col-33"><img ng-src="/img/hearts.svg" alt="hearts"></div>
				<div class="col-33"><img ng-src="/img/diamonds.svg" alt="diamonds"></div>
			</div>	
			<h3>A simple guessing game for passing time. Got 5 minutes free time?</h3>
			<br>
			<br>
			<div class="row">
				<div class="col-33"><img ng-src="/img/clubs.svg" alt="clubs"></div>
				<div class="col-33"><img ng-src="/img/star.svg" alt="star"></div>
				<div class="col-33"><img ng-src="/img/target.svg" alt="spades"></div>
			</div>	
			<br>
			<br>
			<a ui-sref="tabs.game" class="button button-positive">Why Don't You Give It A Try</a>
		</div>
	</ion-content>
</ion-view>